@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Primary Colors */
    --primary-blue: #007bff;
    --primary-blue-light: #e7f3ff;
    --primary-blue-dark: #0056b3;
    --bg-color-2: #f5f5f5; 

    /* Neutral Colors */
    --white-color: #ffffff;
    --black-color: #212529;
    --gray-color: #6c757d;
    --off-white: #f8f9fa; /* Slightly muted white for sections */
    --light-gray: #e9ecef; /* Subtle gray for dividers or borders */
    --dark-gray: #343a40; /* Deep gray for text or elements */

    /* Feedback Colors */
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    
    /* Typography */
    --font-size: 1rem;
    --line-height: 1.5;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Carlito', sans-serif;

    /* Shadows */
    --shadow-sm: 0 4px 5px rgba(0, 0, 0, 0.25);

    /* Others */
    --border-radius: 10px;
    --transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--black-color);
    background-color: var(--light-gray);
}

header {
    color: var(--white-color);
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-auto-flow: column;
    color: var(--black-color);
    height: 100px;
    width: 100dvw;
    border-bottom: 2.5px solid var(--primary-blue);
    position: fixed;
    top: 0;
    background-color: var(--bg-color-2);
    z-index: 1000;
}

.logo {
    color: var(--primary-blue);
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    margin-left: 100px;
    height: max-content;
    font-family: var(--font-secondary);
    font-optical-sizing: auto;
}
.logo:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    gap: 200px;
}

.nav-list li {
    list-style: none;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    border-radius: var(--border-radius);
}

.nav-list .entry {
    display: flex;
    width: max-content;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nav-list button {
    background-color: var(--primary-blue);
    color: var(--white-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    font-family: var(--font-primary);
    font-weight: 700;
    height: 36px;
    width: max-content;
}

.nav-list button:first-child {
    background-color: var(--bg-color-2);
    color: var(--gray-color);
}
.nav-list button:first-child:hover {
    color: var(--black-color);
}
.nav-list button:first-child:active {
    color: var(--black-color);
}
.nav-list button:last-child:hover {
    background-color: var(--primary-blue-dark);
}

.nav-list a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    color: var(--gray-color);
}
.nav-list a:hover {
    color: var(--black-color);
}
.nav-list a:active {
    color: var(--black-color);
}

.hero h1 {
    font-size: 3.5rem;
    width: 50%;
    line-height: var(--line-height);
    font-weight: 800;
    color: var(--black-color);
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    margin-top: 4.5rem;
    padding-left: 7rem;
}
.hero h2 {
    font-size: 1.3rem;
    width: 50%;
    font-weight: 600;
    color: var(--black-color);
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    padding-left: 7rem;
    margin-top: 1.3rem;
}

.cta-buttons {
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-top: 1rem;
    gap: 10px;
}

.cta-buttons button {
    width: 100px;
    border: none;
    height: 50%;
    background-color: var(--primary-blue);
    border-radius: 30px;
    color: var(--white-color);
    font-weight: 700;
    font-family: var(--font-primary);
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.cta-buttons button:first-child {
    animation-name: cta-first-button;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    width: 50%;
}

@keyframes cta-first-button {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.cta-buttons button:last-child {
    background-color: var(--light-gray);
    color: var(--gray-color);
}
.cta-buttons button:last-child:hover {
    color: var(--black-color);
}

.cta-buttons button:first-child::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -100%;
    width: 10%;
    height: 100%;
    background: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 30%,
        rgba(255, 255, 255, 0.7) 50%, /* Brighter center for more shine */
        rgba(255, 255, 255, 0.2) 60%,
        rgba(255, 255, 255, 0) 100%
  );
    transform: skewX(-30deg);
    animation: shine 1.8s infinite;
    border-radius: 60%;
    z-index: 1;
}

@keyframes shine {
    from {
        left: -100%;
    }
    to {
        top: 0;
        left: 100%;
    }
}

.cta-buttons button:first-child:hover {
    background-color: var(--primary-blue-dark);
}

.hero h1 .simplify::after {
    content: "";
    position: absolute;
    left: 220px;
    bottom: 42%;
    transform: translateX(-50%);
    width: 200px;
    height: 10px;
    background-color: var(--primary-blue);
    border-radius: 100px 100px 0 0;
    z-index: -1;
}

.hero h1 .organized::after {
    content: "";
    position: absolute;
    left: 28%;
    top: 42.8%;
    transform: translateX(-50%);
    width: 260px;
    height: 10px;
    background-color: var(--primary-blue);
    border-radius: 100px 100px 0 0;
    z-index: -1;
}

.screenshots {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 40rem;
    top: -23rem;
    z-index: 1;
    transform: scale(.9);
}

.screenshots img:last-child {
    position: relative;
    top: -2rem;
    right: 39rem;
}

.hero {
    margin-top: 200px;
    height: 400px;
}

.features-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--off-white);
    height: 400px;
}

.features-section h2 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--gray-color);
}

.features {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: repeat(3, 100px);
    margin-top: 2rem;
    gap: 220px;
    height: 250px;
    width: 850px;
    position: relative;
    left: 13vw;
    bottom: 10px;
}

.feature {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    width: 280px;
    padding: 10px;
    height: 160px;
}

.features-section > h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-2);
    padding: 10px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.footer-content .social-media {
    transform: scale(.7);
}

.footer-content .social-media img {
    position: relative;
    top: 2px;
}

.footer-links a {
    text-decoration: none;
    color: var(--black-color);
    opacity: 50%;
    margin-right: 15px;
}

.footer-links a:hover{
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info p:last-child {
    color: var(--gray-color);
}

.footer-info p {
    opacity: 85%;
}
.footer-info a {
    text-decoration: none;
    color: var(--gray-color);    
}

.footer-info a:hover {
    color: var(--black-color);
}

.aboutus-main {
    margin-top: 200px;
    height: 50dvh;
    text-align: center;
    background-color: var(--off-white);
    padding: 30px;
}

.allabout {
    width: 80%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}