* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--font-secondary);
    color: var(--black-color);
    background-color: var(--white-color);
}

#app {
    display: grid;
    background-color: var(--white-color);
    grid-template-columns: 350px auto;
    grid-template-rows: max-content auto;
    height: clamp(max-content, 100vh, max-content);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.app-header {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    width: 100%;
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top-right-radius: 10px;
}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: clamp(max-content, 100dvh, max-content);
    border-bottom-right-radius: 10px;
    padding: 15px 0;
    border-top: none;
    grid-column: 1; /* Ensure the sidebar stays in the first column */
}

.app-content {
    grid-area: 1 / 2 / 3 / 3;
    height: 100dvh;
    width: clamp(min-content, 100vw, max-content);
    padding: 20px;
    overflow-x: auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.dashboard-line {
    display: flex;
    flex-direction: row;
    gap: 120px;
    text-align: center;
    align-items: center;
    padding: 0 10px;
    grid-column: 1 / 2;
    height: auto; 
}

.dashboard-line svg {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    transform: scale(1.5);
}

.dashboard-line svg:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    fill: rgb(255, 255, 255);
}

.dashboard-line > h2 {
    font-size: 1.8rem;
    width: max-content;
    font-weight: bold;
    font-family: var(--font-secondary);
    color: var(--gray-color);
    transform: translate(-8px, -6px);
}

.app-header input {
    width: 70%;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 13px;
    margin: 10px;
    font-family: var(--font-primary);
    position: relative;
    left: 5px;
}

.app-header input:focus {
    outline: none;
    border: 1px solid var(--black-color);
}

#task-section > h2 {
    margin-left: 20px;
}

.task .upcoming, .task .today, .task .stickywall, .task .calendar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.task .upcoming:hover, .task .today:hover, .task .stickywall:hover, .task .calendar:hover {
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline: none;
    transition: border 0.5s ease-in-out;
}

#lists-section .lists, #tags-section .tags, #departure {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

#task-section, #lists-section, #tags-section, #departure {
    transform: scale(.80);
}

.sign-out > img, .settings > img {
    text-align: center;
    margin-top: 3px;
}

/* Task section, Lists section, Tags section */
#task-section, #lists-section, #tags-section {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    bottom: 4%;
    right: 2%;
    padding: 15px;
}

#lists-section {
    position: relative;
    bottom: 10%;
    border-top: none;
}
#tags-section {
    position: relative;
    top: -10%;    
}
 
#lists-section > h2 {
    margin-left: 20px;
}

#tags-section > h2 {
    margin-left: 20px;
}

#lists-section .lists {
    display: flex;
    flex-direction: column;
    height: clamp(max-content, 400px, max-content);
}

#lists-section .lists > button.add-list-btn {
    width: max-content;
    height: 40px;
    font-family: var(--font-primary);
    font-weight: 500;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#tags-section .tags > button.add-task-btn {
    width: max-content;
    min-height: 40px;
    font-family: var(--font-primary);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#lists-section button:hover, #tags-section button {
    cursor: pointer;
}

#departure {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
}

#departure .settings, #departure .sign-out {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

#departure .settings:hover, #departure .sign-out:hover {
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

#app-content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#app-content .taskname {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-bottom: none;
    border-left: transparent;
}

#app-content .taskname h2 {
    padding: 20px 35px;
    font-size: 2.3rem;
}

#app-content .task-content {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-left: transparent;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}

.task-item {
    display: flex;
    justify-content: center;
    flex: 1 0 calc((33.33% - 20px) / 3);
    margin: 5px;
    /* width: calc((100% - 20px) / 3); */
    padding: 10px;
    line-height: 1;
    gap: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.task-item button {
    width: max-content;
    height: 35px;
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px;
}
.task-item button:hover {
    background-color: var(--primary-blue);
    color: white;
    transition: all 0.3s ease;
}

.active {
    background-color: var(--black-color);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}

