.signup-container {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 22vh auto;
    width: 30%;
    padding: 30px;
    height: max-content;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-group > p:first-child {
    text-align: center;
    font-size: .8rem;
    margin: 15px 0;
    color: var(--gray-color);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.form-group input:focus {
    outline: none;
    border: 1px solid var(--primary-blue);
}

.signup-container button {
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-blue);
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    font-family: var(--primary-font);
}

.signup-container button:hover {
    background-color: var(--primary-blue-dark);
}

.form-group a {
    text-decoration: none;
    color: var(--primary-blue);
}

.form-group a:hover {
    text-decoration: underline;
    color: var(--primary-blue-dark);
}

.form-group a:visited {
    color: var(--primary-blue-dark);
}

.form-group a:active {
    color: var(--primary-blue-dark);
}

.form-group p {
    text-align: center;
}

.signup-container h1 {
    text-align: center;
    color: var(--gray-color);
}